src/template/index.pug
extends _layout

block content
	
        main.pageWrapper
            .hero
                h1 Capitalidol — trade smart and make a profit
            .pageColumn
                section.pageContent
                    .news
                        .newsHeader last news
                        .newsItems
                            .newsItem
                                .newsItemPhoto
                                    .newsItemPhotoWrap
                                        img(src="/img/big.jpg")
                                .newsItemContent
                                    .newsItemTop
                                        span Forex trade
                                        h2 How to Get Started with Binary Options Trading
                                        p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo conse
                                    .newsItemFooter
                                        time 23 | 09 | 2019
                                        a(href="#") READ MORe
                            .newsItem
                                .newsItemPhoto
                                    .newsItemPhotoWrap
                                        img(src="/img/big.jpg")
                                .newsItemContent
                                    .newsItemTop
                                        span Forex trade
                                        h2 How to Get Started with Binary Options Trading
                                        p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo conse
                                    .newsItemFooter
                                        time 23 | 09 | 2019
                                        a(href="#") READ MORe
                            .newsItem
                                .newsItemPhoto
                                    .newsItemPhotoWrap
                                        img(src="/img/big.jpg")
                                .newsItemContent
                                    .newsItemTop
                                        span Forex trade
                                        h2 How to Get Started with Binary Options Trading
                                        p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo conse
                                    .newsItemFooter
                                        time 23 | 09 | 2019
                                        a(href="#") READ MORe
                            
                            
                aside.pageAside
                    .news
                        .newsHeader archive
                        .newsItems
                            .newsItemArchive
                                .newsItemArchiveTop
                                    .newsItemArchivePhoto
                                        img(src="/img/big.jpg")
                                    .newsItemArchiveContent
                                        span Forex trade
                                        h3 Capitalidol — trade smart and make a profit

                                    
                                .newsItemArchiveFooter
                                    time 23 | 09 | 2019
                                    a(href="#") READ MORe
                            .newsItemArchive
                                .newsItemArchiveTop
                                    .newsItemArchivePhoto
                                        img(src="/img/big.jpg")
                                    .newsItemArchiveContent
                                        span Forex trade
                                        h3 Capitalidol — trade smart and make a profit

                                    
                                .newsItemArchiveFooter
                                    time 23 | 09 | 2019
                                    a(href="#") READ MORe
                            .newsItemArchive
                                .newsItemArchiveTop
                                    .newsItemArchivePhoto
                                        img(src="/img/big.jpg")
                                    .newsItemArchiveContent
                                        span Forex trade
                                        h3 Capitalidol — trade smart and make a profit

                                    
                                .newsItemArchiveFooter
                                    time 23 | 09 | 2019
                                    a(href="#") READ MORe
                    .pagination
                        a(href="#")
                            +svgIcon("arrow_left")
                        a(href="#")
                            span Next
                            +svgIcon("arrow_right")
                            
                        

build/index.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>CapitalIdol</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width user-scalable=yes">
    <link type="image/x-icon" href="favicon.ico" rel="shortcut icon">
    <link type="text/css" href="css/main.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=EB+Garamond:400,400i,600,700&amp;amp;subset=cyrillic" rel="stylesheet">
  </head>
  <body>
    <script src="js/svg-loader.js"></script>
    <div class="mobileMenu">
      <div class="mobileMenuItems"><a href="#">BETTING</a><a href="#">CASINO			</a><a href="#">TRADING		  </a><a href="#">NEWS</a></div>
      <div class="mobileSearch">
        <form class="headerSearchForm">
          <input class="headerSearchInput" placeholder="Search">
        </form>
      </div>
      <div class="mobileLang"><a href="#">RU</a><span>|</span><a href="#">IND</a></div>
    </div>
    <div class="header">
      <div class="header">
        <div class="headerWrapper">
          <div class="headerLogo"><a href="#"></a></div>
          <div class="headerMenu"><a href="#">BETTING</a><a href="#">CASINO			</a><a href="#">TRADING		  </a><a href="#">NEWS</a></div>
          <div class="headerSearch">
            <form class="headerSearchForm">
              <input class="headerSearchInput" placeholder="Search">
            </form>
          </div>
          <div class="headerLang"><a href="#">RU</a><span>|</span><a href="#">IND</a></div>
          <div class="headerMobileMenu">
            <div class="headerMobileMenuLine"></div>
            <div class="headerMobileMenuLine"></div>
            <div class="headerMobileMenuLine"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="page">
      <main class="pageWrapper">
        <div class="hero">
          <h1>Capitalidol — trade smart and make a profit</h1>
        </div>
        <div class="pageColumn">
          <section class="pageContent">
            <div class="news">
              <div class="newsHeader">last news</div>
              <div class="newsItems">
                <div class="newsItem">
                  <div class="newsItemPhoto">
                    <div class="newsItemPhotoWrap"><img src="/img/big.jpg"></div>
                  </div>
                  <div class="newsItemContent">
                    <div class="newsItemTop"><span>Forex trade</span>
                      <h2>How to Get Started with Binary Options Trading</h2>
                      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo conse</p>
                    </div>
                    <div class="newsItemFooter">
                      <time>23 | 09 | 2019</time><a href="#">READ MORe</a>
                    </div>
                  </div>
                </div>
                <div class="newsItem">
                  <div class="newsItemPhoto">
                    <div class="newsItemPhotoWrap"><img src="/img/big.jpg"></div>
                  </div>
                  <div class="newsItemContent">
                    <div class="newsItemTop"><span>Forex trade</span>
                      <h2>How to Get Started with Binary Options Trading</h2>
                      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo conse</p>
                    </div>
                    <div class="newsItemFooter">
                      <time>23 | 09 | 2019</time><a href="#">READ MORe</a>
                    </div>
                  </div>
                </div>
                <div class="newsItem">
                  <div class="newsItemPhoto">
                    <div class="newsItemPhotoWrap"><img src="/img/big.jpg"></div>
                  </div>
                  <div class="newsItemContent">
                    <div class="newsItemTop"><span>Forex trade</span>
                      <h2>How to Get Started with Binary Options Trading</h2>
                      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo conse</p>
                    </div>
                    <div class="newsItemFooter">
                      <time>23 | 09 | 2019</time><a href="#">READ MORe</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <aside class="pageAside">
            <div class="news">
              <div class="newsHeader">archive</div>
              <div class="newsItems">
                <div class="newsItemArchive">
                  <div class="newsItemArchiveTop">
                    <div class="newsItemArchivePhoto"><img src="/img/big.jpg"></div>
                    <div class="newsItemArchiveContent"><span>Forex trade</span>
                      <h3>Capitalidol — trade smart and make a profit</h3>
                    </div>
                  </div>
                  <div class="newsItemArchiveFooter">
                    <time>23 | 09 | 2019</time><a href="#">READ MORe</a>
                  </div>
                </div>
                <div class="newsItemArchive">
                  <div class="newsItemArchiveTop">
                    <div class="newsItemArchivePhoto"><img src="/img/big.jpg"></div>
                    <div class="newsItemArchiveContent"><span>Forex trade</span>
                      <h3>Capitalidol — trade smart and make a profit</h3>
                    </div>
                  </div>
                  <div class="newsItemArchiveFooter">
                    <time>23 | 09 | 2019</time><a href="#">READ MORe</a>
                  </div>
                </div>
                <div class="newsItemArchive">
                  <div class="newsItemArchiveTop">
                    <div class="newsItemArchivePhoto"><img src="/img/big.jpg"></div>
                    <div class="newsItemArchiveContent"><span>Forex trade</span>
                      <h3>Capitalidol — trade smart and make a profit</h3>
                    </div>
                  </div>
                  <div class="newsItemArchiveFooter">
                    <time>23 | 09 | 2019</time><a href="#">READ MORe</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="pagination"><a href="#">
                    <svg class="arrow_left">
                      <use xlink:href="#arrow_left"></use>
                    </svg></a><a href="#"><span>Next</span>
                    <svg class="arrow_right">
                      <use xlink:href="#arrow_right"></use>
                    </svg></a></div>
          </aside>
        </div>
      </main>
    </div>
    <div class="footer">
      <div class="footerTop">
        <div class="footerTopLeft"><a class="footerTopLogo" href="#"></a>
          <div class="footerTopSlogan">
             Capitalidol — trade smart <br />and make a profit</div>
        </div>
        <div class="footerTopRight">
          <div class="footerTopText">Binary options are a high-risk financial instrument that will not suit each and every trader. MoneyTotem is an independent online trader community, and not a brokerage company and does not offer trading or financial betting services. Thereby, the administrators of the website shall not be held responsible for any actions performed by the visitors of the site in connection with trading in financial markets. We aim to improve the accessibility of information related to the industry of binary option trading. We try to provide our visitors with detailed and up to date information about the best brokerage companies, as well as learning materials to help them raise their awareness and knowledge of the issues connected to online trading. Binary options are not available to retail EU traders. If you are not a professional trader, please leave this page It should be noted that forex and CFD (contracts for difference) are also classified as risky financial instruments and involve non-zero chances of losing your capital.</div>
        </div>
      </div>
      <div class="footerBottom">
        <div class="footerCopyright">© 2015-2019 capitalidol	</div>
        <div class="footerMenu"><a href="#">Contact Us 		</a><a href="#">Terms of Use 	</a><a href="#">Privacy Policy</a></div>
      </div>
    </div>
    <script src="js/svg-loader.js"></script>
    <script src="js/commons.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>
