src/template/page.pug
extends _layout

block content
	
        main.pageWrapper
            .hero
                h1 Capitalidol — trade smart and make a profit
            .pageColumn
                section.pageContent
                    article.article
                        .articleTag Forex trade
                        .articlePhoto
                            img(src='/img/bigbig.jpg')
                        .articleContent
                            h1  How to Get Started with Binary Options Trading
                            p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo conse.
                            p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo conse Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo conse Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo conse Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                            p Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo conse Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                            p At wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo conse Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo conse Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo conse Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo conse.
                            p Ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo conse Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo conse Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo conse Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo conse
                            
                        .articleFooter
                            time 23 | 09 | 2019
                            a(href="#") CLOSE
                        .articleRating
                            .articleRatingHeader rating
                            .articleRatingJS
                                
                        .articleComments
                            .articleCommentCount 3 comments
                            .articleCommentItems
                                .articleCommentItem
                                    .articleCommentItemTop
                                        .articleCommentItemAvatar
                                            img(src='/img/avatar.jpg')
                                        .articleCommentItemInfo
                                            .articleCommentItemName
                                                | Theodor
                                            .articleCommentItemRow
                                                time 7 september, 2019	
                                                a(href="#") reply
                                    .articleCommentItemText
                                        p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                                .articleCommentItem
                                    .articleCommentItemTop
                                        .articleCommentItemAvatar
                                            img(src='/img/avatar.jpg')
                                        .articleCommentItemInfo
                                            .articleCommentItemName
                                                | Theodor
                                            .articleCommentItemRow
                                                time 7 september, 2019	
                                                a(href="#") reply
                                    .articleCommentItemText
                                        p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                                .articleCommentItem
                                    .articleCommentItemTop
                                        .articleCommentItemAvatar
                                            img(src='/img/avatar.jpg')
                                        .articleCommentItemInfo
                                            .articleCommentItemName
                                                | Theodor
                                            .articleCommentItemRow
                                                time 7 september, 2019	
                                                a(href="#") reply
                                    .articleCommentItemText
                                        p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                            form.articleCommentForm
                                .articleCommentFormColumns 
                                    .articleCommentFormColumn
                                        .articleCommentFormItem
                                            input.input(name="name" placeholder="NAME" required data-value-missing="The field is required, but missing")
                                    .articleCommentFormColumn
                                        .articleCommentFormItem
                                            input.input(name="email" placeholder="EMAIL" type="email" required data-value-missing="The field is required, but missing" data-type-missmatch="Please enter email address")
                                .articleCommentFormItem
                                    textarea.textarea(name="text" placeholder="COMMENT" required data-value-missing="The field is required, but missing")
                                .articleCommentFormItem.articleCommentFormItemRight
                                    button(type="submit").buttonBrown SUBMIT COMMENT
                                
                        
                            
                            
                aside.pageAside
                    .news
                        .newsHeader archive
                        .newsItems
                            .newsItemArchive
                                .newsItemArchiveTop
                                    .newsItemArchivePhoto
                                        img(src="/img/big.jpg")
                                    .newsItemArchiveContent
                                        span Forex trade
                                        h3 Capitalidol — trade smart and make a profit

                                    
                                .newsItemArchiveFooter
                                    time 23 | 09 | 2019
                                    a(href="#") READ MORe
                            .newsItemArchive
                                .newsItemArchiveTop
                                    .newsItemArchivePhoto
                                        img(src="/img/big.jpg")
                                    .newsItemArchiveContent
                                        span Forex trade
                                        h3 Capitalidol — trade smart and make a profit

                                    
                                .newsItemArchiveFooter
                                    time 23 | 09 | 2019
                                    a(href="#") READ MORe
                            .newsItemArchive
                                .newsItemArchiveTop
                                    .newsItemArchivePhoto
                                        img(src="/img/big.jpg")
                                    .newsItemArchiveContent
                                        span Forex trade
                                        h3 Capitalidol — trade smart and make a profit

                                    
                                .newsItemArchiveFooter
                                    time 23 | 09 | 2019
                                    a(href="#") READ MORe
                    .pagination
                        a(href="#")
                            +svgIcon("arrow_left")
                        a(href="#")
                            span Next
                            +svgIcon("arrow_right")
                            
                        

build/page.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>CapitalIdol</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width user-scalable=yes">
    <link type="image/x-icon" href="favicon.ico" rel="shortcut icon">
    <link type="text/css" href="css/main.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=EB+Garamond:400,400i,600,700&amp;amp;subset=cyrillic" rel="stylesheet">
  </head>
  <body>
    <script src="js/svg-loader.js"></script>
    <div class="mobileMenu">
      <div class="mobileMenuItems"><a href="#">BETTING</a><a href="#">CASINO			</a><a href="#">TRADING		  </a><a href="#">NEWS</a></div>
      <div class="mobileSearch">
        <form class="headerSearchForm">
          <input class="headerSearchInput" placeholder="Search">
        </form>
      </div>
      <div class="mobileLang"><a href="#">RU</a><span>|</span><a href="#">IND</a></div>
    </div>
    <div class="header">
      <div class="header">
        <div class="headerWrapper">
          <div class="headerLogo"><a href="#"></a></div>
          <div class="headerMenu"><a href="#">BETTING</a><a href="#">CASINO			</a><a href="#">TRADING		  </a><a href="#">NEWS</a></div>
          <div class="headerSearch">
            <form class="headerSearchForm">
              <input class="headerSearchInput" placeholder="Search">
            </form>
          </div>
          <div class="headerLang"><a href="#">RU</a><span>|</span><a href="#">IND</a></div>
          <div class="headerMobileMenu">
            <div class="headerMobileMenuLine"></div>
            <div class="headerMobileMenuLine"></div>
            <div class="headerMobileMenuLine"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="page">
      <main class="pageWrapper">
        <div class="hero">
          <h1>Capitalidol — trade smart and make a profit</h1>
        </div>
        <div class="pageColumn">
          <section class="pageContent">
            <article class="article">
              <div class="articleTag">Forex trade</div>
              <div class="articlePhoto"><img src="/img/bigbig.jpg"></div>
              <div class="articleContent">
                <h1> How to Get Started with Binary Options Trading</h1>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo conse.</p>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo conse Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo conse Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo conse Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo conse Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                <p>At wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo conse Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo conse Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo conse Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo conse.</p>
                <p>Ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo conse Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo conse Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo conse Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo conse</p>
              </div>
              <div class="articleFooter">
                <time>23 | 09 | 2019</time><a href="#">CLOSE</a>
              </div>
              <div class="articleRating">
                <div class="articleRatingHeader">rating</div>
                <div class="articleRatingJS"></div>
              </div>
              <div class="articleComments">
                <div class="articleCommentCount">3 comments</div>
                <div class="articleCommentItems">
                  <div class="articleCommentItem">
                    <div class="articleCommentItemTop">
                      <div class="articleCommentItemAvatar"><img src="/img/avatar.jpg"></div>
                      <div class="articleCommentItemInfo">
                        <div class="articleCommentItemName">Theodor</div>
                        <div class="articleCommentItemRow">
                          <time>7 september, 2019	</time><a href="#">reply</a>
                        </div>
                      </div>
                    </div>
                    <div class="articleCommentItemText">
                      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                    </div>
                  </div>
                  <div class="articleCommentItem">
                    <div class="articleCommentItemTop">
                      <div class="articleCommentItemAvatar"><img src="/img/avatar.jpg"></div>
                      <div class="articleCommentItemInfo">
                        <div class="articleCommentItemName">Theodor</div>
                        <div class="articleCommentItemRow">
                          <time>7 september, 2019	</time><a href="#">reply</a>
                        </div>
                      </div>
                    </div>
                    <div class="articleCommentItemText">
                      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                    </div>
                  </div>
                  <div class="articleCommentItem">
                    <div class="articleCommentItemTop">
                      <div class="articleCommentItemAvatar"><img src="/img/avatar.jpg"></div>
                      <div class="articleCommentItemInfo">
                        <div class="articleCommentItemName">Theodor</div>
                        <div class="articleCommentItemRow">
                          <time>7 september, 2019	</time><a href="#">reply</a>
                        </div>
                      </div>
                    </div>
                    <div class="articleCommentItemText">
                      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                    </div>
                  </div>
                </div>
                <form class="articleCommentForm">
                  <div class="articleCommentFormColumns"> 
                    <div class="articleCommentFormColumn">
                      <div class="articleCommentFormItem">
                        <input class="input" name="name" placeholder="NAME" required data-value-missing="The field is required, but missing">
                      </div>
                    </div>
                    <div class="articleCommentFormColumn">
                      <div class="articleCommentFormItem">
                        <input class="input" name="email" placeholder="EMAIL" type="email" required data-value-missing="The field is required, but missing" data-type-missmatch="Please enter email address">
                      </div>
                    </div>
                  </div>
                  <div class="articleCommentFormItem">
                    <textarea class="textarea" name="text" placeholder="COMMENT" required data-value-missing="The field is required, but missing"></textarea>
                  </div>
                  <div class="articleCommentFormItem articleCommentFormItemRight">
                    <button class="buttonBrown" type="submit">SUBMIT COMMENT</button>
                  </div>
                </form>
              </div>
            </article>
          </section>
          <aside class="pageAside">
            <div class="news">
              <div class="newsHeader">archive</div>
              <div class="newsItems">
                <div class="newsItemArchive">
                  <div class="newsItemArchiveTop">
                    <div class="newsItemArchivePhoto"><img src="/img/big.jpg"></div>
                    <div class="newsItemArchiveContent"><span>Forex trade</span>
                      <h3>Capitalidol — trade smart and make a profit</h3>
                    </div>
                  </div>
                  <div class="newsItemArchiveFooter">
                    <time>23 | 09 | 2019</time><a href="#">READ MORe</a>
                  </div>
                </div>
                <div class="newsItemArchive">
                  <div class="newsItemArchiveTop">
                    <div class="newsItemArchivePhoto"><img src="/img/big.jpg"></div>
                    <div class="newsItemArchiveContent"><span>Forex trade</span>
                      <h3>Capitalidol — trade smart and make a profit</h3>
                    </div>
                  </div>
                  <div class="newsItemArchiveFooter">
                    <time>23 | 09 | 2019</time><a href="#">READ MORe</a>
                  </div>
                </div>
                <div class="newsItemArchive">
                  <div class="newsItemArchiveTop">
                    <div class="newsItemArchivePhoto"><img src="/img/big.jpg"></div>
                    <div class="newsItemArchiveContent"><span>Forex trade</span>
                      <h3>Capitalidol — trade smart and make a profit</h3>
                    </div>
                  </div>
                  <div class="newsItemArchiveFooter">
                    <time>23 | 09 | 2019</time><a href="#">READ MORe</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="pagination"><a href="#">
                    <svg class="arrow_left">
                      <use xlink:href="#arrow_left"></use>
                    </svg></a><a href="#"><span>Next</span>
                    <svg class="arrow_right">
                      <use xlink:href="#arrow_right"></use>
                    </svg></a></div>
          </aside>
        </div>
      </main>
    </div>
    <div class="footer">
      <div class="footerTop">
        <div class="footerTopLeft"><a class="footerTopLogo" href="#"></a>
          <div class="footerTopSlogan">
             Capitalidol — trade smart <br />and make a profit</div>
        </div>
        <div class="footerTopRight">
          <div class="footerTopText">Binary options are a high-risk financial instrument that will not suit each and every trader. MoneyTotem is an independent online trader community, and not a brokerage company and does not offer trading or financial betting services. Thereby, the administrators of the website shall not be held responsible for any actions performed by the visitors of the site in connection with trading in financial markets. We aim to improve the accessibility of information related to the industry of binary option trading. We try to provide our visitors with detailed and up to date information about the best brokerage companies, as well as learning materials to help them raise their awareness and knowledge of the issues connected to online trading. Binary options are not available to retail EU traders. If you are not a professional trader, please leave this page It should be noted that forex and CFD (contracts for difference) are also classified as risky financial instruments and involve non-zero chances of losing your capital.</div>
        </div>
      </div>
      <div class="footerBottom">
        <div class="footerCopyright">© 2015-2019 capitalidol	</div>
        <div class="footerMenu"><a href="#">Contact Us 		</a><a href="#">Terms of Use 	</a><a href="#">Privacy Policy</a></div>
      </div>
    </div>
    <script src="js/svg-loader.js"></script>
    <script src="js/commons.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>
